<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- <listener>
        <description>ServletContextListener</description>
        <listener-class>contextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>registrationController</servlet-name>
        <servlet-class>registrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productView</servlet-name>
        <servlet-class>productView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyController</servlet-name>
        <servlet-class>buyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showTransaction</servlet-name>
        <servlet-class>showTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchaseController</servlet-name>
        <servlet-class>purchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchaseView</servlet-name>
        <servlet-class>purchaseView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationController</servlet-name>
        <url-pattern>/registrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productView</servlet-name>
        <url-pattern>/productView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyController</servlet-name>
        <url-pattern>/buyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showTransaction</servlet-name>
        <url-pattern>/showTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchaseController</servlet-name>
        <url-pattern>/purchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchaseView</servlet-name>
        <url-pattern>/purchaseView</url-pattern>
    </servlet-mapping> -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Servlets.contextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>registrationController</servlet-name>
        <servlet-class>Servlets.registrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Servlets.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Servlets.logoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationController</servlet-name>
        <url-pattern>/registrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
