<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Servlets.contextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>registrationController</servlet-name>
        <servlet-class>Servlets.registrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Servlets.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Servlets.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addController</servlet-name>
        <servlet-class>Servlets.addController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myRecipesController</servlet-name>
        <servlet-class>Servlets.myRecipesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recipesController</servlet-name>
        <servlet-class>Servlets.recipesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationController</servlet-name>
        <url-pattern>/registrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addController</servlet-name>
        <url-pattern>/addController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myRecipesController</servlet-name>
        <url-pattern>/myRecipesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recipesController</servlet-name>
        <url-pattern>/recipesController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
