/*
    Created on : May 7, 2017, 12:29:19 PM
    Author     : Diana
*/

body {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}

.page-wrapper {
    position: relative;
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 50px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Great Vibes', cursive;
}

textarea {
    resize: vertical;
}

.branding {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 0 25px 0;
}

.branding__text {
    font: 45px/45px 'Great Vibes', cursive;
    margin: 0;
}

.radio-space > input[type="radio"],
.check-space > input[type="checkbox"]{
    margin-right: 5px;
}

.radio-space > label,
.check-space > label {
    margin: 0;
}

.login-form {
    margin: 0 auto;
}

.description {
    width: 300px;
    height: 150px;
}

.page-footer {
    margin: 20px 0 0 0;
    padding-top: 5px;
    border-top: 1px solid #000;
}